.App {
  text-align: center;
  position: relative;
  overflow: hidden;
}
.font-link {
  font-family: 'UnifrakturMaguntia', cursive;
}

.App-header {
  background-color: #000000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(20px + 2vmin);
  color: #FFFFFF;
  
}

.App-link {
  color: #FFFFFF;
}
.top-navigation {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}

.top-navigation-button {
  background-color: #D3D3D3;
  color: #000000;
  border: none;
  padding: 10px 20px;
  margin-left: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'UnifrakturMaguntia', cursive;
}

.top-navigation-button:hover {
  background-color: hsla(210, 7%, 88%, 0.264);
  color: #000000;
}


