.App {
  text-align: center;
  position: relative;
  overflow: hidden;
}
.font-link {
  font-family: 'UnifrakturMaguntia', cursive;
}

.App-header {
  background-color: #000000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(20px + 2vmin);
  color: #FFFFFF;
  
}

.App-link {
  color: #FFFFFF;
}
.top-navigation {
  display: flex;
  justify-content: flex-end;
  padding: 50px;
}

.top-navigation-button {
  background-color: #D3D3D3;
  color: #000000;
  border: none;
  padding: 10px 20px;
  margin-left: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'UnifrakturMaguntia', cursive;
  position: relative;
  overflow: hidden;
}

.top-navigation-button::before {
  content: '';
  position: absolute;
  width: 6px; /* Adjust as needed */
  height: 12px; /* Adjust as needed */
  background: rgba(255, 255, 255, 0.8); /* Adjust opacity as needed */
  border-radius: 50%;
  animation: drip 2s infinite;
}

@keyframes drip {
  0% {
    transform: translateY(-150%) rotate(-45deg) scale(0);
  }
  50% {
    transform: translateY(0) rotate(-45deg) scale(1);
  }
  100% {
    transform: translateY(100%) rotate(-45deg) scale(0);
  }
}

.top-navigation-button::before:nth-child(1) {
  left: 25%; /* Adjust position as needed */
  animation-delay: 0.3s; /* Adjust delay as needed */
}

.top-navigation-button::before:nth-child(2) {
  left: 50%; /* Adjust position as needed */
  animation-delay: 0.6s; /* Adjust delay as needed */
}

.top-navigation-button::before:nth-child(3) {
  left: 75%; /* Adjust position as needed */
  animation-delay: 0.9s; /* Adjust delay as needed */
}

.top-navigation-button:hover {
  background-color: hsla(210, 7%, 88%, 0.264);
  color: #ffffff;
}