.App {
  text-align: center;
  position: relative;
  overflow: hidden;
}
.font-link {
  font-family: 'UnifrakturMaguntia', cursive;
}

.App-header {
  background-color: #000000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(20px + 2vmin);
  color: #FFFFFF;
  
}

.App-link {
  color: #FFFFFF;
}




@keyframes fireAnimation {
  0% { background-color: #000000; }
  50% { background-color: #7F5D37; }
  100% { background-color: #CDCFCC; }
}

